:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    direction: rtl;
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}